*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#FFF7FA;
    overflow:hidden;
}

/* =========================
   SPLASH SCREEN
========================= */

#startScreen{
    position:fixed;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        180deg,
        #FFE4EE 0%,
        #FFF7FA 100%
    );

    z-index:999;
}

#startScreen h1{
    color:#E85D8E;
    font-size:3rem;
    font-weight:800;
    margin-bottom:15px;
}

#startScreen p{
    text-align:center;
    color:#666;
    line-height:1.8;
    font-size:1.1rem;
}

#startBtn{
    margin-top:30px;

    border:none;
    cursor:pointer;

    padding:16px 40px;

    border-radius:999px;

    background:#FF7AA7;
    color:white;

    font-size:1.1rem;
    font-weight:700;

    box-shadow:
        0 4px 12px rgba(255,122,167,.25);
}

#startBtn:active{
    transform:scale(.98);
}

/* =========================
   GAME
========================= */

.game-title{
    display:flex;
    align-items: center;
    justify-content: center;
    /* gap:5px; */

    flex-wrap:wrap;

    text-align:center;
}

.title-mascot{

    width:clamp(100px, 20vw, 150px);

    height:auto;

    object-fit:contain;
}

#gameContainer{
    display:none;
    height:100vh;
}

/* =========================
   HEADER
========================= */

.game-header{
    padding-top:15px;
}

.game-title{
    text-align:center;

    color:#E85D8E;

    font-size:1.8rem;
    font-weight:800;
}

.info{
    width:min(95%,500px);

    margin:15px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    padding:14px 18px;

    border-radius:18px;

    border:1px solid #F5D7E4;

    box-shadow:
        0 2px 8px rgba(0,0,0,.04);
}

.info div{
    font-size:1rem;
    font-weight:700;
    color:#555;
}

/* =========================
   GAME AREA
========================= */

#gameArea{
    position:relative;

    width:95%;
    height:78vh;

    margin:auto;

    overflow:hidden;

    border-radius:24px;

    background:#FFEAF3;

    border:2px solid #FFD5E4;
}

/* =========================
   EMOJI
========================= */

.emoji{
    position:absolute;

    font-size:55px;

    cursor:pointer;

    user-select:none;

    will-change:transform;
}

/* =========================
   FOTO BUBBLE
========================= */

.photo{
    position:absolute;

    width:82px;
    height:82px;

    border-radius:50%;

    object-fit:cover;

    cursor:pointer;

    border:4px solid white;

    box-shadow:
        0 3px 10px rgba(0,0,0,.12);

    will-change:transform;
}

/* =========================
   SCORE POPUP
========================= */

.score-pop{
    position:absolute;

    color:#FF5C95;

    font-weight:800;

    pointer-events:none;
}

/* =========================
   MOBILE
========================= */

@media(max-width:600px){

    #startScreen h1{
        font-size:2.3rem;
    }

    .emoji{
        font-size:48px;
    }

    .photo{
        width:72px;
        height:72px;
    }

    .info{
        width:95%;
    }
}

.modal{
    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.35);

    z-index:9999;
}

.modal.show{
    display:flex;
}

.modal-content{

    width:90%;
    max-width:350px;

    background:white;

    border-radius:24px;

    padding:30px;

    text-align:center;

    animation:pop .25s ease;
}

.modal-content h2{
    color:#E85D8E;
    margin-bottom:20px;
}

.final-score{

    font-size:1.2rem;
    font-weight:700;

    color:#666;
}

.final-score span{

    display:block;

    margin-top:10px;

    font-size:3rem;

    color:#FF6B9A;
}

.modal-buttons{

    margin-top:25px;

    display:flex;
    gap:10px;
}

.modal-buttons button{

    flex:1;

    border:none;

    padding:14px;

    border-radius:14px;

    cursor:pointer;

    font-weight:700;
}

#playAgainBtn{

    background:#FF7AA7;
    color:white;
}

#homeBtn{

    background:#F3F3F3;
}

@keyframes pop{

    from{
        transform:scale(.8);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }
}

.result-bad{
    color:#FF6B6B;
}

.result-normal{
    color:#F4A261;
}

.result-good{
    color:#E85D8E;
}

.panic-mode{

    animation: panicBorder .5s infinite;
}

@keyframes panicBorder{

    0%{
        box-shadow:0 0 10px #ff9dbb;
    }

    50%{
        box-shadow:0 0 25px #ff4d6d;
    }

    100%{
        box-shadow:0 0 10px #ff9dbb;
    }
}

.panic-text{

    position:fixed;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    font-size:2.5rem;
    font-weight:bold;

    color:#ff4d6d;

    text-shadow:
        0 0 10px white,
        0 0 20px white;

    z-index:9999;

    animation:panicZoom .3s ease;
}

@keyframes panicZoom{

    from{

        opacity:0;

        transform:
            translate(-50%,-50%)
            scale(.5);
    }

    to{

        opacity:1;

        transform:
            translate(-50%,-50%)
            scale(1);
    }
}